@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0px;
  padding: 0px;
}
.FullPageSection {
  height: 100vh;
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
}
